body {
    padding-top: 60px;
}

.jumbotron h1 {
    background: linear-gradient(rgba(5, 7, 12, 0.60), rgba(5, 7, 12, 0.60)),
        url(https://www.viaempresa.cat/uploads/s1/25/95/13/64/els-fons-inversors-busquen-oportunitats-davant-la-crisi-del-sector-hoteler-istock.jpeg);
    opacity: 1;
    background-position: center;
    background-size: cover;
    padding: 120px 120px;
    color: white;
    font-size: 5rem;
    text-align: center;
}


.iconos {
    padding-right: 5px;
}